*{
    box-sizing: border-box;
    margin: 0;
}

body{
    /* linear gardient bg color light blue */
    background: linear-gradient(to right, #00c7fe, rgb(9, 198, 236));
    
    
    font-family: Arial, Helvetica, sans-serif;

   
}

.contaier{
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    place-items: center;
}
main{
    background-color: rgb(235, 200, 243);
    width: 700px;
    min-height: 400px;


    box-shadow: 8px 12px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 8px 12px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 12px 17px 0px rgba(0,0,0,0.75);

    display: flex;

    
}

main .info{
    background-color: red;
    width: 60%;
}

main .imgContainer{
    background-color: greenyellow;
    width: 40%;
    overflow: hidden;
    
}

main .imgContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}


main .imgContainer:hover img{
    transform: scale(1.04);
}